[Desktop Entry]
Name=Dartium
Comment=Chromium-based browser that includes the Dart virtual machine
Exec=dartium
Icon=dartium
Terminal=false
Type=Application
Categories=Development;
